.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(2, 2, 2);
}

button {
  width: 110px;
  height: 30px;
  background: linear-gradient(226deg, #000000f3 0%, #aa23b6a1 100%);
  cursor: pointer;
  color: rgb(255, 255, 255);
  outline: none;
  margin-left: 10px;
  border-radius: 5px;
  padding: 0;
  border: 1px solid #926666;
}

input{
  color: #444; 
  outline: none;
  padding: .6em 1.4em .5em .8em;
  width: 200px;
  height: 30px;
  box-sizing: border-box; 
  margin: 0; 
  border: 1px solid #926666;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04); 
  border-radius: .5em;
  background: linear-gradient(226deg, #000000f3 0%, #aa23b6a1 100%);
  color: white;
}